In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
database = pd.read_csv("Data/Perovskite_database_content_all_data.csv", low_memory=False)

In [3]:
# for column in database.columns:
#     print(column)
    #Perovskite_composition_a_ions, 
    #Perovskite_composition_a_ions_coefficients (need to include b and c columns as well)
    #Perovskite_band_gap 

    #JV_default_Voc/Jsc/FF
print(database[["Perovskite_composition_a_ions","Perovskite_composition_a_ions_coefficients","Perovskite_band_gap"]])

      Perovskite_composition_a_ions  \
0                                Cs
1                                Cs
2                                Cs
3                                Cs
4                                Cs
...                             ...
43374                    Cs; FA; MA
43375                    Cs; FA; MA
43376                    Cs; FA; MA
43377                        Cs; FA
43378                        Cs; FA

      Perovskite_composition_a_ions_coefficients Perovskite_band_gap
0                                              1                1.27
1                                              1                 NaN
2                                              1                 NaN
3                                              1                 NaN
4                                              1                1.75
...                                          ...                 ...
43374                           0.05; 0.91; 0.04                 NaN
43375                           0.05; 0.91; 0.04                1.54
43376                           0.05; 0.91; 0.04                1.54
43377                                 0.18; 0.83                1.73
43378                                 0.18; 0.82                1.55

[43379 rows x 3 columns]

In [41]:
database_split = database['Perovskite_composition_a_ions'].str.split(';', expand=True)
database_split

        0     1     2     3     4
0      Cs  None  None  None  None
1      Cs  None  None  None  None
2      Cs  None  None  None  None
3      Cs  None  None  None  None
4      Cs  None  None  None  None
...    ..   ...   ...   ...   ...
43374  Cs    FA    MA  None  None
43375  Cs    FA    MA  None  None
43376  Cs    FA    MA  None  None
43377  Cs    FA  None  None  None
43378  Cs    FA  None  None  None

[43379 rows x 5 columns]

In [12]:
dataratio_split = database['Perovskite_composition_a_ions_coefficients'].str.split(';', expand=True)
dataratio_split

          0      1      2     3     4
0         1   None   None  None  None
1         1   None   None  None  None
2         1   None   None  None  None
3         1   None   None  None  None
4         1   None   None  None  None
...     ...    ...    ...   ...   ...
43374  0.05   0.91   0.04  None  None
43375  0.05   0.91   0.04  None  None
43376  0.05   0.91   0.04  None  None
43377  0.18   0.83   None  None  None
43378  0.18   0.82   None  None  None

[43379 rows x 5 columns]

In [332]:
# I now have "dataraio_split" and "database_split" and they are in the same shape
# List out all the unique value in the table first
# Assign value under each column according to its matching position on the table
arr1 = database_split[0].unique().astype(str)
arr2 = database_split[1].unique().astype(str)
arr3 = database_split[2].unique().astype(str)
arr4 = database_split[3].unique().astype(str)
arr5 = database_split[4].unique().astype(str)
arrall = np.concatenate((arr1, arr2, arr3, arr4, arr5))
mask = np.char.find(arrall, '|') == -1
noline_arrall = np.unique(np.char.lstrip(arrall[mask]))
noline_arrall

array(['((CH3)3S)', '(1.3-Pr(NH3)2)', '(3AMP)', '(3AMPY)', '(4AMP)',
       '(4AMPY)', '(4ApyH)', '(4FPEA)', '(5-AVA)', '(5-AVAI)', '(6-ACA)',
       '(ALA)', '(APMim)', '(AVA)', '(Ace)', '(Ada)', '(Anyl)', '(BDA)',
       '(BEA)', '(BIM)', '(BYA)', '(BZA)', '(BdA)', '(Br-PEA)', '(BzDA)',
       '(C6H4NH2)', '(CH3ND3)', '(CHMA)', '(CIEA)', '(CPEA)', '(Cl-PEA)',
       '(DAP)', '(DAT)', '(DMA)', '(DPA)', '(EDA)', '(F-PEA)', '(F3EA)',
       '(F5PEA)', '(GABA)', '(H-PEA)', '(HAD)', '(HEA)', '(HdA)', '(IEA)',
       '(ImEA)', '(MTEA)', '(N-EtPy)', '(NEA)', '(NH4)', '(NMA)', '(OdA)',
       '(PBA)', '(PDA)', '(PDMA)', '(PEA)', '(PEI)', '(PGA)', '(PMA)',
       '(PTA)', '(PyEA)', '(PyrEA)', '(TBA)', '(TEA)', '(TFEA)', '(THM)',
       '(TMA)', '(ThFA)', '(ThMA)', '(f-PEA)', '(iPA)', '(iso-BA)',
       '(mF1PEA)', '(n-C3H7NH3)', '(oF1PEA)', '(pF1PEA)', 'AN', 'Aa',
       'Ag', 'BA', 'BDA', 'BE', 'BU', 'Ba', 'Bi', 'Bn', 'Ca', 'Cs', 'Cu',
       'DA', 'DI', 'DMA', 'EA', 'EDA', 'FA', 'GA', 'GU', 'HA', 'HDA',
       'IA', 'IM', 'K', 'La', 'Li', 'MA', 'MA, GA', 'NEA', 'Na', 'None',
       'OA', 'PA', 'PDA', 'PEA', 'PMA', 'PN', 'PR', 'Rb', 'Sr', 'TN',
       'nan'], dtype='<U22')

In [361]:
# This is where I will create an array of (numberOfSolarCells, KnownElement)
# This will return a solution array contains the mapping, please use with the allKnownElement array
def mappingCellNameAndRatio(databaseSplit, dataratioSplit, allKnownElement):
    rowNumber = dataratioSplit.shape[0]
    colNumber = allKnownElement.shape[0]
    solution = np.zeros((rowNumber, colNumber))
    print(databaseSplit.shape)
    for row in range(rowNumber):
        print(row)
        # The databaseSplit[0] is so weird, investigate later
        print(databaseSplit[0])
        for col in range(databaseSplit.shape[1]):
            text = databaseSplit[row][col]
            if text == None:
                continue
            else:
                print(text)
            elementIndex = np.where(allKnownElement == text)
            if elementIndex[0].size == 0:
                continue
            else:
                solution[row][elementIndex] = dataratioSplit[row][col]
    return solution

mappingCellNameAndRatio(database_split, dataratio_split, noline_arrall)
# For data validation purposes only
# database_split
# filteredDatabaseSplit = database_split[database_split[0].fillna('').str.contains('|', regex=False)]

# AllOneToFourAreNone = filteredDatabaseSplit.iloc[:, 1:5].isna().all(axis=1)
# print(AllOneToFourAreNone.sum)
# filteredDatabaseSplit
#165 out of 40000+ data are with |
#60 out of the above 165 has other objects with |
#So maybe | actually means ; ???
#The "|" data are actually insignificant among all data

(43379, 5)
0
0        Cs
1        Cs
2        Cs
3        Cs
4        Cs
         ..
43374    Cs
43375    Cs
43376    Cs
43377    Cs
43378    Cs
Name: 0, Length: 43379, dtype: object
Cs
Cs
Cs
Cs
Cs
1
0        Cs
1        Cs
2        Cs
3        Cs
4        Cs
         ..
43374    Cs
43375    Cs
43376    Cs
43377    Cs
43378    Cs
Name: 0, Length: 43379, dtype: object
2
0        Cs
1        Cs
2        Cs
3        Cs
4        Cs
         ..
43374    Cs
43375    Cs
43376    Cs
43377    Cs
43378    Cs
Name: 0, Length: 43379, dtype: object
3
0        Cs
1        Cs
2        Cs
3        Cs
4        Cs
         ..
43374    Cs
43375    Cs
43376    Cs
43377    Cs
43378    Cs
Name: 0, Length: 43379, dtype: object
4
0        Cs
1        Cs
2        Cs
3        Cs
4        Cs
         ..
43374    Cs
43375    Cs
43376    Cs
43377    Cs
43378    Cs
Name: 0, Length: 43379, dtype: object
5
0        Cs
1        Cs
2        Cs
3        Cs
4        Cs
         ..
43374    Cs
43375    Cs
43376    Cs
43377    Cs
43378    Cs
Name: 0, Length: 43379, dtype: object

KeyError: 5

Organise all the unrepeated elements and will need it to construct a new table later, as column names.

In [4]:
def check_position(table, row, col):
    if database_split.loc[row, col] == 'Cs' or database_split.loc[row, col] == ' Cs':
        temp = pd.DataFrame({'Cs': float(dataratio_split.loc[row, col]), "MA":[pd.NA], "FA":[pd.NA]}, index=[0])
        temp = pd.concat([table, temp], ignore_index= True)
        return temp
    elif database_split.loc[row, col] == 'MA' or database_split.loc[row, col] == ' MA':
        temp = pd.DataFrame({'MA': float(dataratio_split.loc[row, col]), "Cs":[pd.NA], "FA":[pd.NA]}, index=[0])
        temp = pd.concat([table, temp], ignore_index= True)
        return temp
    elif database_split.loc[row, col] == 'FA' or database_split.loc[row, col] == ' FA':
        temp = pd.DataFrame({'FA': float(dataratio_split.loc[row, col]), "MA":[pd.NA], "Cs":[pd.NA]}, index=[0])
        temp = pd.concat([table, temp], ignore_index= True)
        return temp
    else:
        return None

In [5]:
#The only ones needed are: Cs MA FA Pb Cl I Sn Br so for a ions, get "Cs MA FA"
table = pd.DataFrame(columns=['Cs', 'MA', 'FA'])

for y in range(0,4):
    for x in range(0,43):  #43378
        table = check_position(table, x, y)

table

Empty DataFrame
Columns: [Cs, MA, FA]
Index: []